{% extends "base.html" %}


{% block content %}

<div class="container">
    <br>
    <h1>کتاب ها</h1>
    <br><br>

    <a type="" class="btn btn-primary btn-lg" href="{% url 'addbook' %}">اضافه کردن کتاب</a>
    <br><br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">نام کتاب</th>
                <th scope="col">نام نویسنده</th>
                <th scope="col">وضعیت سفارش</th>
                <th scope="col">تغییر وضعیت</th>
            </tr>
        </thead>
        <tbody>
            {% if books %}
            {% for book in books %}
            <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'book' book.id %}">جزییات</a></td>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.author }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}
